* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  height: 200px;
  min-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
}

.ant-card {
  height: 100%;
}

.listFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.listItem {
  gap: 20px;
}

.listItemText {
  text-align: left;
  width: 100%;
}

.content {
  min-width: 650px;
}

.card {
  height: calc(100vh - 200px);
  min-width: 650px;
  box-shadow: none;
}

.ant-card-body {
  height: 100%;
}

.droppable-container {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  padding-inline: 24px;
  padding-block: 12px
}